@import '../app.component.scss';
.container-fluid >form:nth-child(1)
{
    display: flex;
    justify-content: center;
    gap:4rem;
    flex-wrap: wrap;
}

.container-fluid > form
{
    margin-top:2rem
}



.container-fluid >div:nth-child(2)
{
    display: flex;
    justify-content: center;
    gap:3rem;
    flex-wrap: wrap;
}

.container-fluid >div:nth-child(3)
{
    display: flex;
    justify-content: center;
}

label
{
    color:#1c2d61;
    font-weight: 500;
}

th{
    //border:1px solid black;
    box-shadow: -5px -6px 10px rgba(255, 255, 255, 1), 0px 4px 15px rgba(0, 0, 0, 0.25);
    width:8vw;
    text-align: center;
    background: #e8f0fe;
    border-radius: 3px;
    height:2rem
}

tbody > tr
{
    box-shadow: inset -5px -6px 10px rgba(255, 255, 255, 1),inset 0px 4px 15px rgba(0, 0, 0, 0.25);
    width:8vw;
    text-align: center;
    background: transparent;
    border-radius: 3px;

    
}

tbody > tr > td
{
    height:2rem
}



 .mat-form-field 
{
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.25);
}

 .mat-mdc-select , .mat-mdc-option.mdc-list-item
{
    display: flex;
    text-align: center;
    height:50px;
    width:100%;
    background: #f2f2f2;
    color:#7aa4d5 ;
    border-radius: 5px;
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15);
}

 .mat-mdc-select-placeholder
{
    color:#7aa4d5
}

.mat-option , .mat-select:focus{
    text-align: center;
    height:50px ;
    width:100%;
    background: #f2f2f2;
    color:#7aa4d5 ;
    border: none ;
    outline: none ;
    border-radius: 5px;
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15);
}

.mdc-data-table__cell
{
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15); 
    background-color: white !important; 
    text-align: center;
    overflow-x:visible ;
                                                                                                                                                                     
}
.mdc-data-table__cell::-webkit-scrollbar {
    height: 0.001px; /* Adjust the width as needed */
  }

.mdc-data-table__header-cell
{
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15);
    background-color:  #e8f0fe !important;
    text-align: center;
    
    
}
 .mat-header-cell
{
    width:5rem;
    text-align: center;
}
.mat-mdc-table
{
    background: #c9c9c9;
    background-color: #c9c9c9;
    border-radius: 50px;
    text-align: center;
}