<app-header></app-header>
<br>
<div class="container-fluid" class="sigmaGradient" style="padding:1rem"
[ngStyle]="{'height': LeftSideTreeviewHeight}">
<br>
 <!-- header start-->
  <div class="userDefHeader">
    <h1 >PASSWORD SETTING</h1>
  </div>
  <!-- header end-->
 <br>
 <div class="userCredentialDiv1" style="height: 810;">

    <!-- form start -->
    <form [formGroup]="myform">
      <div class="row">
        <div class="col-md-4">
          <label>NoOfCapitalLetters:</label>
          <input class="neoInput" matInput placeholder="NoofCapitalLetters" name="NoofCapitalLetters" formControlName="NoofCapitalLetters" required >
        </div>

        <div class="col-md-4 ">
          <label>NoOfSmallLetters:</label>
          <input class="neoInput" matInput placeholder="NoofSmallLetters" type="text" formControlName="NoofSmallLetters" name="NoofSmallLetters"  required >
        </div>

        <div class="col-md-4 ">
          <label>NoOfNumbers:</label>
          <input class="neoInput" matInput placeholder="NoofNumbers" name="NoofNumbers" formControlName="NoofNumbers" required>
        </div>

        <div class="col-md-4 ">
          <label>NoOfSpecialCharacters:</label>
          <input class="neoInput" matInput placeholder="NoofSpecialCharacters" name="NoofSpecialCharacters" formControlName="NoofSpecialCharacters" required >
        </div>

        <div class="col-md-4 ">
          <label>MinimumPasssLength:</label>
          <input class="neoInput" matInput placeholder="MinimumPasssLength" name="MinimumPasssLength" formControlName="MinimumPasssLength" >
        </div>

        <div class="col-md-4">
          <label>MaximumPasssLength:</label>
          <input class="neoInput" matInput placeholder="MaximumPasssLength" name="MaximumPasssLength" formControlName="MaximumPasssLength" required>
        </div>

        <div class="col-md-4">
          <label>AvoidCharacters:</label>
          <input class="neoInput" matInput placeholder="AvoidCharacters" name="AvoidCharacters" formControlName="AvoidCharacters" required>
        </div>

      </div>
    </form>
    <br><br>
    <div class="col-md-12 " style="text-align:center ;">
      <button class="neoButtonSuccess" type="submit" (click)="onInsertUpdatePasswordSettingClick()"
        matTooltip="Info about the action">{{BtnSaveUpdateText}}</button>&nbsp;

        <button class="neoButtonWarning" type="submit" (click)="OnResetPasswordSettingClick()"
        matTooltip="Info about the action">Reset</button>&nbsp;
    </div>


  </div>

</div>
    <app-footer style="position: fixed;bottom: 0;right:0;left:0;"></app-footer>
