<div class="speedometer">
    <div class="divisions">
        <div class="division" style="--angle: 0deg;"><span class="amount">0</span></div>
        <!-- <div class="subdivision" style="--angle: 9deg;"><span class="amount">|</span></div> -->
        <div class="division" style="--angle: 18deg;"><span class="amount">10</span></div>
        <div class="division" style="--angle: 36deg;"><span class="amount">20</span></div>
        <div class="division" style="--angle: 54deg;"><span class="amount">30</span></div>
        <div class="division" style="--angle: 72deg;"><span class="amount">40</span></div>
        <div class="division" style="--angle: 90deg;"><span class="amount">50</span></div>
        <div class="division" style="--angle: 108deg;"><span class="amount">60</span></div>
        <div class="division" style="--angle: 126deg;"><span class="amount">70</span></div>
        <div class="division" style="--angle: 144deg;"><span class="amount">80</span></div>
        <div class="division" style="--angle: 162deg;"><span class="amount">90</span></div>
        <div class="division" style="--angle: 180deg;"><span class="amount">100</span></div>


        <!-- <div class="division" style="--angle: 196deg;"><span class="amount">0</span></div>
        <div class="division" style="--angle: 214deg;"><span class="amount">10</span></div>
        <div class="division" style="--angle: 232deg;"><span class="amount">20</span></div>
        <div class="division" style="--angle: 250deg;"><span class="amount">30</span></div>
        <div class="division" style="--angle: 268deg;"><span class="amount">40</span></div>
        <div class="division" style="--angle: 286deg;"><span class="amount">50</span></div>
        <div class="division" style="--angle: 306deg;"><span class="amount">60</span></div>
        <div class="division" style="--angle: 324deg;"><span class="amount">70</span></div>
        <div class="division" style="--angle: 342deg;"><span class="amount">80</span></div>
        <div class="division" style="--angle: 360deg;"><span class="amount">90</span></div> -->
        
      </div>
    <!-- <div class="speedometer-display">{{ speed }}</div> -->
    <div class="semicircle"></div>
    <div class="speedometer-needle" 
    [style.transform]="'rotate(' + needleRotation + 'deg)'"><p class="speedometer-arrow" >▲</p></div>
    
    
</div>