@import '../app.component.scss';
.mat-expansion-panel-header,.mat-acordian,.mat-expansion-panel{
    background-color: transparent;
    background: transparent !important;
    color:#1c2d61;
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15);
    
  }

   .mat-expansion-panel-header
  {
    height:2.5rem
  }

   .mat-expansion-panel-header:hover
   {
    background-color: transparent;
    background: transparent !important;
    color:#7aa4d5;
    box-shadow: inset 0px -6px 10px rgba(255,255,255,1), inset 0px 4px 15px  rgba(0, 0, 0, 0.15);
  }

  .button-link {
    display: inline-block;
    padding: 10px 50px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
  }
  
  .button-link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  