

<div class="container-fluid" style="background: #EFF2FF;">
  <app-fheader [pageName]="'User Defination'" [isTreeview]="false"
  style="box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px !important;"></app-fheader>
  <hr style="color: transparent;">

<div style="display: flex;background:#EFF2FF;padding-left:15px" [ngStyle]="{'height': LeftSideTreeviewHeight}">
        <div style="width:97%;padding:0 0.5rem 0 2.5rem"> 
          <br>
          <div class="userCredentialDiv1" style="width:97.5%;">

            <!-- form start -->
            <form [formGroup]="myform">
              <div class="row">
        
                <div class="col-md-4">
                  <label>Name of Person</label>
                  <input class="neoInput" matInput placeholder="Enter Name of Person" name="UserFullName"
                    formControlName="UserFullName" required>
                </div>
        
                <div class="col-md-4">
                  <label>User Name</label>
                  <input class="neoInput" matInput placeholder="Enter User Name" name="UserName" formControlName="UserName" required
                    alphabetOnly>
                </div>
        
                <div class="col-md-4">
                  <label>Password</label>
                  <div style="display:flex; justify-content: center;">
                    <input class="neoInput" matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Password" type="password"
                      name="Password" formControlName="password" required>
                      <div (click)="hide = !hide" class="neoButton"  style="width:3rem;height:3rem;display:flex;justify-content: center;align-items: center;color:#1c2d61;">
                        <fa-icon  *ngIf="!hide" [icon]="faEye"></fa-icon>
                        <fa-icon  *ngIf="hide" [icon]="faEyeSlash"></fa-icon>
                      </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <label> User Type </label>
                  <mat-select formControlName="UserTypeId" placeholder="Select" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="UserTypeFilterCtrl"
                        [placeholderLabel]="'Search'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="0"> Select </mat-option>
                    <mat-option *ngFor="let UserType of filteredUserTypes | async" [value]="UserType.Id">
                      {{UserType.Description}}
                    </mat-option>
                  </mat-select>
                </div>
        
                <div class="col-md-4">
                  <label>Mobile No</label>
                  <input class="neoInput" matInput placeholder="Enter Mobile No" type="text" formControlName="MobileNo"
                    name="MobileNo" minlength="10" maxlength="10" numbersOnly10digit required>
                </div>
        
                <div class="col-md-4">
                  <label>Email-Id</label>
                  <input class="neoInput" matInput placeholder="Enter Email-Id" name="MailId" formControlName="MailId"
                    pattern={{emailtext}} required>
                </div>
        
                <div class="col-md-4">
                  <label>Employee No</label>
                  <input class="neoInput" matInput placeholder="Enter Employee No" name="EmployeeNo" formControlName="EmployeeNo"
                    required>
                </div>
        
                <div class="col-md-4">
                  <label> Designation </label>
                  <mat-select formControlName="UserDesignationId" placeholder="Select" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="UserDesignationFilterCtrl"
                        [placeholderLabel]="'Search'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="0"> Select </mat-option>
                    <mat-option *ngFor="let UserDesignation of filteredUserDesignations | async" [value]="UserDesignation.Id">
                      {{UserDesignation.Description}}
                    </mat-option>
                  </mat-select>
                </div>
        
                <div class="col-md-4">
                  <label> User Group </label>
                  <mat-select formControlName="UserGroupId" placeholder="Select" #singleSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="UserGroupFilterCtrl"
                        [placeholderLabel]="'Search'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option value="0"> Select </mat-option>
                    <mat-option *ngFor="let UserGroup of filteredUserGroups | async" [value]="UserGroup.Id">
                      {{UserGroup.Description}}
                    </mat-option>
                  </mat-select>
                </div>
        
              </div>
            </form>
            <!-- form end -->
            <br><br>
            <div class="col-md-12" style="text-align:center ;">
              <button class="neoButtonSuccess" type="submit" (click)="onClickInsertUpdateInfo()"
                matTooltip="Info about the action">{{BtnSaveUpdateText}}</button>&nbsp;
              <button class="neoButtonDanger" (click)="onClickClearInfo()"
                matTooltip="Info about the action">Clear</button>&nbsp;
            </div>
        
          </div>
          <br />
          <div class="userCredentialDiv2">
            
            <!-- filter start -->
            <div class="col-md-4" class="filter">
              <label>Filter</label><br>
              <input class="neoInput" matInput style="width:20%" placeholder="search" autocomplete="off"
                (keyup)="filterData($event)">
            </div>
            <!-- filter end -->
        
            <div class="clearfix"></div>
            <div class="help-block"></div>
            <br><br>
        
            <!-- Gidview start -->
            <div class="table-padding" style="width:97.5%;">
        
              <div class="example-container" class='table-responsive mat-elevation-z8'>
        
                <mat-table [dataSource]="dataSource" matSort style="max-height:24rem;overflow-y: scroll;border-radius: 0;">
        
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef class="table-actions"> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row; let i = index" style="display: flex;justify-content: center;gap:1rem;">
                      <button class="neoButtonSuccess" matTooltip="Edit" (click)="onClickEditInfo(row)" style="width:3rem;">
                        <fa-icon [icon]="faPencil"></fa-icon>
                      </button>
                      <button class="neoButtonDanger" matTooltip="Delete" (click)="onClickDeleteInfo(row.Id)"
                        style="width:3rem;">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.Id}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="MailId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mail Id</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.MailId}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="EmpName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee Name</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserFullName}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="EmpNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Employee No</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.EmployeeNo}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="MobileNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.MobileNo}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.User_Name}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="Password">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Password</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.Password}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Type Id</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserTypeId}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserTypeDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Type</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserTypeDescription}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserGroup">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Group Id</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserGroupId}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserGroupDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Group</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserGroupDescription}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserDesignation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Designation Id</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.DesignationId}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="UserDesignationDescription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Designation</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.UserDesignationDescription}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="CreateBy">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Create By</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.CreateBy}} </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="CreateDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</mat-header-cell>
                    <mat-cell *matCellDef="let UserCredentials"> {{UserCredentials.CreateDate}} </mat-cell>
                  </ng-container>
        
                  <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{alternate: row % 2 == 0 }"></mat-row>
        
                </mat-table>
        
                <!-- <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" [pageSize]="10" aria-label="Default pagination"
                  showFirstLastButtons>
                </mat-paginator> -->
        
              </div>
        
            </div>
            <!-- Gidview end -->
        
          </div>
        </div>
        <app-sideheader style="width:2.5%"></app-sideheader>
        </div>
        <app-footer style="position: fixed;bottom: 0;right:0;left:0;"></app-footer>
       
</div>